<div class="welcome">
  <div class="welcome__content">
    <h1 class="welcome__title">Witaj w systemie</h1>
    <p class="welcome__description">
      System zarządzania rolami i uprawnieniami użytkowników. Kliknij, aby
      kontynuować.
    </p>

    <div class="continue-button">
      <button mat-raised-button class="continue-button__btn" (click)="onContinue()">
        <mat-icon class="continue-button__icon">arrow_forward</mat-icon>
        Kontynuuj
      </button>
    </div>
  </div>
</div>
